.alert-box {
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
  
  .alert {
    background-color: #ffcccc;
    color: red;
    border: 2px solid red;
  }
  
  .safe {
    background-color: #ccffcc;
    color: green;
    border: 2px solid green;
  }
  
